<h2>Hello</h2>

<p>Hello @ViewData["FirstName"] @ViewBag.LastName</p>

<div class="row">
    <div class="col-md-6">
        <form method="POST" asp-action="GetData">
            <div class="form-group">
                <label for="First Name">First Name :</label>
                <input type="text" class="form-control" placeholder="Enter Firstname" 
                name="firstname">
            </div>
            <div class="form-group">
                <label for="Last Name">Last Name :</label>
                <input type="text" class="form-control" placeholder="Enter Lastname" 
                name="lastname">
            </div>
            <button class="btn btn-default">Submit</button>
        </form>
    </div>
</div>


